.margin-top-sm{margin-top: 5px;}
.margin-top-md{margin-top: 10px;}
.margin-top-lg{margin-top: 20px;}
.margin-top-xl{margin-top: 40px;}
.margin-top-xl2{margin-top: 80px;}
.margin-top-xl3{margin-top: 120px;}

.margin-bot-sm{margin-bottom: 5px;}
.margin-bot-md{margin-bottom: 10px;}
.margin-bot-lg{margin-bottom: 20px;}
.margin-bot-xl{margin-bottom: 40px;}
.margin-bot-xl2{margin-bottom: 80px;}
.margin-bot-xl3{margin-bottom: 120px;}

.margin-l-sm{margin-left: 5px;}
.margin-l-md{margin-left: 10px;}
.margin-l-lg{margin-left: 20px;}
.margin-l-xl{margin-left: 40px;}
.margin-l-xl2{margin-left: 80px;}
.margin-l-xl3{margin-left: 120px;}

.margin-r-sm{margin-right: 5px;}
.margin-r-md{margin-right: 10px;}
.margin-r-lg{margin-right: 20px;}
.margin-r-xl{margin-right: 40px;}
.margin-r-xl2{margin-right: 80px;}
.margin-r-xl3{margin-right: 120px;}

/*==================================*/

.padding-top-sm{padding-top: 5px;}
.padding-top-md{padding-top: 10px;}
.padding-top-lg{padding-top: 20px;}
.padding-top-xl{padding-top: 40px;}
.padding-top-xl2{padding-top: 80px;}
.padding-top-xl3{padding-top: 120px;}

.padding-bot-sm{padding-bottom: 5px;}
.padding-bot-md{padding-bottom: 10px;}
.padding-bot-lg{padding-bottom: 20px;}
.padding-bot-xl{padding-bottom: 40px;}
.padding-bot-xl2{padding-bottom: 80px;}
.padding-bot-xl3{padding-bottom: 120px;}

.padding-l-sm{padding-left: 5px;}
.padding-l-md{padding-left: 10px;}
.padding-l-lg{padding-left: 20px;}
.padding-l-xl{padding-left: 40px;}
.padding-l-xl2{padding-left: 80px;}
.padding-l-xl3{padding-left: 120px;}

.padding-r-sm{padding-right: 5px;}
.padding-r-md{padding-right: 10px;}
.padding-r-lg{padding-right: 20px;}
.padding-r-xl{padding-right: 40px;}
.padding-r-xl2{padding-right: 80px;}
.padding-r-xl3{padding-right: 120px;}